
/*
DEFAULT
-------------------------------------------------*/

html, h1, h2, h3, h4, h5, h6, div, span, applet, object, iframe, blockquote, pre,
a, p, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}






/*
GENERAL
-------------------------------------------------*/

#content {
    width:100%;
    position:relative;
    min-height:100%;
    padding:0;
    margin:0;
}

.body-container {
    padding-bottom:343px;   /* Height of the footer */
    min-height:300px;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-color:#171616;

}

a {
    text-decoration: none;
    font-size: inherit;
    color:inherit;
    font-family: inherit;
}

h1 {
    font-size: 48px;
}

#new-article-form h1 {
    margin: 0px 0px 20px 0px;
    padding: 56px 0px 0px 0px;
}

p {
    line-height: 20px;
    text-align: justify;
}

.background-white-box>p {
    padding-top:20px;
}

.wrapper {
    width:960px;
    margin:0 auto;
}

.holder {
    margin-top:60px;
    overflow:hidden;
}






/*
COLORS
-------------------------------------------------*/


.red {
    color: #FF734D;
}

.white {
    color:#fff;
}

input[type="text"], textarea[form="new-article-form-child"] {
    color: #662a2a;
}

.black {
    color:#000;
}






/*
FONTS
-------------------------------------------------*/


h1, h2, h3, h4, h5, h6,
.navbar li a, p, #header-header a,
textarea[form="new-article-form-child"]  {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
}

p,  #header-header a, textarea[form="new-article-form-child"] {
    font-size: 14px;
}






/*
POSITIONS
-------------------------------------------------*/


.left {
    float:left;
}

.right {
    float:right;
}

.full-width, #latestEntry {
    width:100%;
}

.clear {
    clear:both;
}





/*
BUTTONS
-------------------------------------------------*/


.close {
    position:relative;
    top:48px;
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.4;
    cursor: pointer;
    font-size: 30px;
    font-family: arial;
    border:solid 2px #662a2a;
    border-radius:5px;
}

.close:hover {
    opacity: 0.6;
}

#m:hover, #a:hover, #s:hover {
    cursor: pointer;
}






/*
HEADER
-------------------------------------------------*/


#logo h1 {
    font-size: 60px;
}


        /*
        ADD NEW ARTICLE FORM
        -------------------------------------------------*/


        #new-article-form {
            height:480px;
            width:100%;
            background-image: url('');
            /*background-size:100%;*/
            background-repeat: repeat;
            background-color: #233A3A;
            /*background: -webkit-linear-gradient(#598ba1, #78bcd9); *//* For Safari 5.1 to 6.0 */
            /*background: -o-linear-gradient(#598ba1, #78bcd9); *//* For Opera 11.1 to 12.0 */
            /*background: -moz-linear-gradient(#598ba1, #78bcd9); *//* For Firefox 3.6 to 15 */
            /*background: linear-gradient(#598ba1, #78bcd9); *//* Standard syntax */
        }

        #new-article-form .middle {
            margin:0px 0px 0px 55px;
        }

        #new-article-form input[type="text"], #new-article-form textarea {
            background-color: #1C1C1C;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            border: none;
            outline: none;
        }


        #new-article-form, #new-article-form *, #login-box * {
            display:none;
        }

        /*
        EACH INPUT BOX
        -------------------------------------------------*/

        #blogTitle, #blogSubTitle, #blogBody {
            font-size: 20px;
        }






/*
BOXES
-------------------------------------------------*/

.fader-cover {
    position: absolute;
    left:50%;
    top:0;
    width:50%;
    height:100%;
    /*background-color: #F3F3F3;*/

    background: #F3F3F3; /* Old browsers */
    background: -moz-linear-gradient(left,  #F3F3F3 20%, transparent 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(20%,#F3F3F3), color-stop(100%,transparent)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #F3F3F3 20%,transparent 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #F3F3F3 20%,transparent 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #F3F3F3 20%,transparent 100%); /* IE10+ */
    background: linear-gradient(to right,  #F3F3F3 20%,transparent 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='transparent',GradientType=1 ); /* IE6-9 */

}

.vertical-divide {
    width:2%;
    float: left;
    height:10px;
}

.horizontal-divide {
    margin-top:2%;
}

.background-white-box {
    position: relative;
    background-color: #F3F3F3;
    padding:60px 60px;
    float:left;
    height:100%;
    overflow: hidden;
}

a .background-white-box:hover {
    opacity: 0.7;
}



.background-white-box img.default {
    max-width: 100%;
    padding: 20px 0px 20px 20px;
}

#welcomeBoxHolder {
    position: relative;
}

#welcomeBox {
    width:59%;
}

#latestThreeBox {
    width:39%;
    position:absolute;
    right:0;
}






/*
MAIN NAVIGATION
-------------------------------------------------*/


#new-article-form {
    background-image: url('');
    background-color: #171616;
    /*background-size:100%;*/
    background-repeat: repeat;
}


#new-article-form-button {
    background-color: #fd795b;
}

#main-body {
    overflow: hidden;
    width:100%;
}

.navbar {
    position: relative;
    top:13px;
    left:-6px;
    overflow:hidden;
    padding-bottom: 20px;
    margin-top:25px;
}

.navbar li {
    list-style-type: none;
}


.navbar li a {
    font-size:16px;
}

.navbar li>a {
    display:block;
    text-transform:uppercase;
    margin:0px 0px 0px 20px;
    color: #66A82D;
    margin-top:42px;
}

#new-article-form input[type="text"]  {
    margin:10px 20px 0px 0px;
    width:100%;
}

textarea[form="new-article-form-child"] {
    margin:10px 0px 0px 0px;
    width:100%;
    height:160px;
    padding:10px;
}

#new-article-form-button {
    margin: 20px 0px 0px 0px;
    height:84px;
    width:100%;
    border-radius:5px;
}

#new-article-form-button * {
    line-height: 84px;
    text-align: center;
}

textarea[form="new-article-form-child"], .background-white-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




input[type="text"], input[type="textarea"] {
    outline:none;
    border:none;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:10px;
}



#new-article-form-button:hover {
    background-color:#fe624d;
}

.navbar li>a:hover {
   color: #4e8022;
}






/*
IMAGES
-------------------------------------------------*/

.imageSection {
    position: absolute;
    top:0;
    right:0;
    width:400px;
    height:100%;
    background-origin:padding-box;
}






/*
FOOTER
-------------------------------------------------*/


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:279px;
    z-index: 1;
}

#footerText {
    z-index: 300;
}

#footerText p {
    font-size: 10px ;
}

img.blogman {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}